<p id="notice"><%= notice %></p>

<h1>Recipes</h1>
  <div class="row">
    <% @recipes.each do |recipe| %>
      <div class="col-md-4">
  <div class="recipe-box">
    <% if recipe.image? %>
      <%= link_to (image_tag recipe.image.url, class: "recipe-index"), recipe %>
    <% end %>
    
    <ul>
        <li><%= recipe.title %></li>
        <li><%= recipe.description %></li>
        <div class="btn-default">
        <button type="button" class="btn btn-deafault"><li><%= link_to 'Show', recipe %> |
        <%= link_to 'Edit', edit_recipe_path(recipe) %> |
      <%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></li></button>
      </div><!-- /buttom-group-->
    </ul>
  
  </div><!-- /recipe-box-->
</div><!--col-md-4-->
    <% end %>
</div><!--/row-->
<br>

<div class="btn-default">
 <button type="button" class="btn btn-deafault"><%= link_to 'New Recipe', new_recipe_path %></button>
</div><!-- /btn dufault-->